In [482]:
import pandas as pd

In [483]:
df=pd.read_csv("/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/data/artifact/2024-01-29-18-17-43/data_ingestion/processed_data/train_data/imdb_movies.csv")

In [484]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Christmas Unfiltered,12/01/2022,63.0,"Comedy, Drama, Family",A teen who feels ignored by her family makes a...,"Alison Fernandez, Becky, Judy Reyes, Carol, An...",Christmas Unfiltered,Released,English,150000000.0,292767115.2,BR
1,The Banshees of Inisherin,12/26/2022,75.0,"Drama, Comedy",Two lifelong friends find themselves at an imp...,"Colin Farrell, Pádraic Súilleabháin, Brendan G...",The Banshees of Inisherin,Released,English,515001.4,41000000.0,AU
2,Despicable Me,09/09/2010,72.0,"Family, Animation, Comedy, Crime",Villainous Gru lives up to his reputation as a...,"Steve Carell, Gru (voice), Miranda Cosgrove, M...",Despicable Me,Released,English,69000000.0,543464573.0,AU
3,The Bride of Frankenstein,04/20/1935,76.0,"Drama, Horror, Science Fiction",After recovering from injuries sustained in th...,"Boris Karloff, The Monster, Colin Clive, Henry...",The Bride of Frankenstein,Released,English,393750.0,2000000.0,US
4,Wonder Park,04/04/2019,65.0,"Comedy, Animation, Adventure, Family, Fantasy",A young girl named June with a big imagination...,"Jennifer Garner, June's Mom (voice), Matthew B...",Wonder Park,Released,English,100000000.0,115103325.0,AU

In [485]:
df['year'] = df['date_x'].apply(lambda x: str(x).split("/")[2].split()[0])

In [486]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,year
0,Christmas Unfiltered,12/01/2022,63.0,"Comedy, Drama, Family",A teen who feels ignored by her family makes a...,"Alison Fernandez, Becky, Judy Reyes, Carol, An...",Christmas Unfiltered,Released,English,150000000.0,292767115.2,BR,2022
1,The Banshees of Inisherin,12/26/2022,75.0,"Drama, Comedy",Two lifelong friends find themselves at an imp...,"Colin Farrell, Pádraic Súilleabháin, Brendan G...",The Banshees of Inisherin,Released,English,515001.4,41000000.0,AU,2022
2,Despicable Me,09/09/2010,72.0,"Family, Animation, Comedy, Crime",Villainous Gru lives up to his reputation as a...,"Steve Carell, Gru (voice), Miranda Cosgrove, M...",Despicable Me,Released,English,69000000.0,543464573.0,AU,2010
3,The Bride of Frankenstein,04/20/1935,76.0,"Drama, Horror, Science Fiction",After recovering from injuries sustained in th...,"Boris Karloff, The Monster, Colin Clive, Henry...",The Bride of Frankenstein,Released,English,393750.0,2000000.0,US,1935
4,Wonder Park,04/04/2019,65.0,"Comedy, Animation, Adventure, Family, Fantasy",A young girl named June with a big imagination...,"Jennifer Garner, June's Mom (voice), Matthew B...",Wonder Park,Released,English,100000000.0,115103325.0,AU,2019

In [487]:
df.dtypes

names          object
date_x         object
score         float64
genre          object
overview       object
crew           object
orig_title     object
status         object
orig_lang      object
budget_x      float64
revenue       float64
country        object
year           object
dtype: object

In [488]:
df.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country', 'year'],
      dtype='object')

In [489]:
df_1 = df[['names', 'overview', 'score', 'genre',  'orig_lang', 'country', 'year']]

In [490]:
df_1.head()

,names,overview,score,genre,orig_lang,country,year
0,Christmas Unfiltered,A teen who feels ignored by her family makes a...,63.0,"Comedy, Drama, Family",English,BR,2022
1,The Banshees of Inisherin,Two lifelong friends find themselves at an imp...,75.0,"Drama, Comedy",English,AU,2022
2,Despicable Me,Villainous Gru lives up to his reputation as a...,72.0,"Family, Animation, Comedy, Crime",English,AU,2010
3,The Bride of Frankenstein,After recovering from injuries sustained in th...,76.0,"Drama, Horror, Science Fiction",English,US,1935
4,Wonder Park,A young girl named June with a big imagination...,65.0,"Comedy, Animation, Adventure, Family, Fantasy",English,AU,2019

In [491]:
df_1.isna().sum()

names         0
overview      0
score         0
genre        73
orig_lang     0
country       0
year          0
dtype: int64

In [492]:
df_1.dropna(inplace=True)

/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/871821986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.dropna(inplace=True)

In [493]:
df_1.head()

,names,overview,score,genre,orig_lang,country,year
0,Christmas Unfiltered,A teen who feels ignored by her family makes a...,63.0,"Comedy, Drama, Family",English,BR,2022
1,The Banshees of Inisherin,Two lifelong friends find themselves at an imp...,75.0,"Drama, Comedy",English,AU,2022
2,Despicable Me,Villainous Gru lives up to his reputation as a...,72.0,"Family, Animation, Comedy, Crime",English,AU,2010
3,The Bride of Frankenstein,After recovering from injuries sustained in th...,76.0,"Drama, Horror, Science Fiction",English,US,1935
4,Wonder Park,A young girl named June with a big imagination...,65.0,"Comedy, Animation, Adventure, Family, Fantasy",English,AU,2019

In [494]:
unique_genres = {genre.strip().replace(" ", "_") for movie in df_1['genre'] for genre in movie.split(',')}

In [495]:
for genre in unique_genres:
    df_1[genre] = df_1['genre'].str.contains(genre).astype(int)

/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_85283/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)

In [496]:
df_1.columns

Index(['names', 'overview', 'score', 'genre', 'orig_lang', 'country', 'year',
       'History', 'Fantasy', 'Horror', 'Family', 'Documentary', 'Action',
       'Mystery', 'Music', 'Drama', 'Adventure', 'TV_Movie', 'Thriller',
       'Western', 'Animation', 'War', 'Romance', 'Comedy', 'Crime',
       'Science_Fiction'],
      dtype='object')

In [497]:
df_1.head()

,names,overview,score,genre,orig_lang,country,year,History,Fantasy,Horror,...,Adventure,TV_Movie,Thriller,Western,Animation,War,Romance,Comedy,Crime,Science_Fiction
0,Christmas Unfiltered,A teen who feels ignored by her family makes a...,63.0,"Comedy, Drama, Family",English,BR,2022,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,The Banshees of Inisherin,Two lifelong friends find themselves at an imp...,75.0,"Drama, Comedy",English,AU,2022,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Despicable Me,Villainous Gru lives up to his reputation as a...,72.0,"Family, Animation, Comedy, Crime",English,AU,2010,0,0,0,...,0,0,0,0,1,0,0,1,1,0
3,The Bride of Frankenstein,After recovering from injuries sustained in th...,76.0,"Drama, Horror, Science Fiction",English,US,1935,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Wonder Park,A young girl named June with a big imagination...,65.0,"Comedy, Animation, Adventure, Family, Fantasy",English,AU,2019,0,1,0,...,1,0,0,0,1,0,0,1,0,0

In [481]:
df_1.to_csv("updated_imdb.csv", index=False)