In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/data/artifact/2024-02-06-20-10-41/data_ingestion/ingested_data/imdb_movies.csv")

In [6]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [7]:
df['year'] = df['date_x'].apply(lambda x: str(x).split("/")[2].split()[0])
df['year'] = df['year'].astype(int)

In [8]:
df = df[['names', 'overview', 'genre', 'year']]

In [9]:
df.dtypes

names       object
overview    object
genre       object
year         int64
dtype: object

In [10]:
df.shape

(10178, 4)

In [227]:
df = df[~df.duplicated(subset=['names', 'overview', 'genre', 'year'], keep='first')]
df=df.reset_index(drop=True)

In [228]:
df.shape

(9999, 4)

In [229]:
df[df.duplicated(subset=['names', 'overview', 'genre', 'year'], keep=False)]

Empty DataFrame
Columns: [names, overview, genre, year]
Index: []

In [230]:
df.isna().sum()

names        0
overview     0
genre       85
year         0
dtype: int64

In [231]:
df.dropna(inplace=True)
df=df.reset_index(drop=True)

In [232]:
df.dtypes

names       object
overview    object
genre       object
year         int64
dtype: object

In [233]:
df.shape

(9914, 4)

In [191]:
10093 - 9914

179