In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/data/artifact/2024-02-08-16-09-43/data_cleaning/cleaned_data/cleaned_data.csv")

In [6]:
df.head()

,names,overview,genre,year
0,Creed III,"After dominating the boxing world, Adonis Cree...","Drama, Action",2023
1,Avatar: The Way of Water,Set more than a decade after the events of the...,"Science Fiction, Adventure, Action",2022
2,The Super Mario Bros. Movie,"While working underground to fix a water main,...","Animation, Adventure, Family, Fantasy, Comedy",2023
3,Mummies,"Through a series of unfortunate events, three ...","Animation, Comedy, Family, Adventure, Fantasy",2023
4,Supercell,Good-hearted teenager William always lived in ...,Action,2023

In [7]:
rows_with_null = df[df.isnull().any(axis=1)]

if not rows_with_null.empty:
    print("Rows with null values found:")
    print(rows_with_null.index)
else:
    print("No rows with null values found.")

No rows with null values found.

In [8]:
duplicates = df[df.duplicated()]

if not duplicates.empty:
    print("Found duplicates:")
    print(duplicates.index)
else:
    print("No duplicates found.")

No duplicates found.

In [9]:
df.sort_values(by='year', ascending=False).head()

,names,overview,genre,year
0,Creed III,"After dominating the boxing world, Adonis Cree...","Drama, Action",2023
6832,KSI: In Real Life,An access-all-areas look at the life of global...,Documentary,2023
918,Unlocked,A woman’s life is turned upside-down when a da...,"Thriller, Mystery",2023
7072,Kutukan Cakar Monyet,A greedy husband and wife use a monkey claw am...,Horror,2023
7068,Chris Rock: Selective Outrage,Chris Rock makes comedy history as he performs...,Comedy,2023

In [10]:
# Find continuity breaks in the index
missing_indices = [str(df.index[i]) + " Missing" for i in range(1, len(df.index)) if df.index[i] != df.index[i-1] + 1]
print(missing_indices)

[]

In [11]:
# check_integrity
# check_consistency
# check_duplicates
# check_outliers
# generate_report
# initiate_data_validation

In [12]:
import os
os.getcwd()

'/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/notebooks'

In [13]:
os.chdir("/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/")

In [14]:
from src.utils import read_yaml_file

schema_file_path = "/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/schema/schema.yml"

schema_file = read_yaml_file(file_path=schema_file_path)
print(list(schema_file['columns'].keys()))

['names', 'overview', 'genre', 'year']

In [15]:
schema_features = list(schema_file['columns'].keys())
schema_feature_types = list(schema_file['columns'].items())

In [20]:
dataset_features = [df.columns]
dataset_features

[Index(['names', 'overview', 'genre', 'year'], dtype='object')]

In [16]:
dataset_features = list(df.columns)
dataset_feature_type = [dtype.name for dtype in df.dtypes.to_list()]

In [17]:
for feature in schema_features:
    if feature not in dataset_features:
        print(f"Feature {feature} not found in the dataset.")
    else:
        if not schema_file['columns'][feature] == df[feature].dtype.name:
            print(f"schema feature {feature} has different dtype when compared to dataset feature {feature} dtype.")

In [29]:
df['genre'].dtype.name

'object'

In [15]:
schema_file['columns']['year']

'int64'