In [3]:
import pandas as pd

/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [30]:
df=pd.read_csv("/Users/vambat1/Documents/Projects/Machine-Learning/04-Movie-Recommendation-System/data/artifact/2024-01-30-09-26-50/data_ingestion/ingested_data/ingested_test_data/imdb_movies.csv")

In [31]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,The Sorcerer's Apprentice,09/09/2010,61.0,"Fantasy, Adventure, Action",Balthazar Blake is a master sorcerer in modern...,"Nicolas Cage, Balthazar Blake, Jay Baruchel, D...",The Sorcerer's Apprentice,Released,English,160000000.0,217986320.0,AU
1,With Aunt It's Not a Sin,12/23/1980,61.0,Comedy,"The rich Gloria, resident for years in the Uni...","Marina Hedman, Gloria, Antonella Antinori, Ant...",Con la zia non è peccato,Released,Italian,150600000.0,414413080.2,IT
2,Being John Malkovich,12/03/1999,74.0,"Comedy, Drama, Fantasy","One day at work, unsuccessful puppeteer Craig ...","John Cusack, Craig Schwartz, John Malkovich, J...",Being John Malkovich,Released,English,13000000.0,32382381.0,AU
3,Oz the Great and Powerful,03/07/2013,59.0,"Fantasy, Adventure, Family","Oscar Diggs, a small-time circus illusionist a...","James Franco, Oz, Mila Kunis, Theodora / Wicke...",Oz the Great and Powerful,Released,English,200000000.0,490359051.0,AU
4,Hatching,05/26/2022,63.0,"Horror, Fantasy",12 year old Tinja is desperate to please her m...,"Siiri Solalinna, Tinja, Sophia Heikkilä, Mothe...",Pahanhautoja,Released,Finnish,3896000.0,490000.0,AU

In [32]:
df.info

<bound method DataFrame.info of                                  names       date_x  score  \
0            The Sorcerer's Apprentice  09/09/2010    61.0
1             With Aunt It's Not a Sin  12/23/1980    61.0
2                 Being John Malkovich  12/03/1999    74.0
3            Oz the Great and Powerful  03/07/2013    59.0
4                             Hatching  05/26/2022    63.0
...                                ...          ...    ...
2031                  Devil's Workshop  09/30/2022    60.0
2032                  The Dark Crystal  04/22/1983    71.0
2033  Pokémon the Movie: I Choose You!  11/11/2017    70.0
2034           The Curse of La Llorona  04/18/2019    57.0
2035               Secret Headquarters  08/12/2022    68.0

                                                  genre  \
0                            Fantasy, Adventure, Action
1                                                Comedy
2                                Comedy, Drama, Fantasy
3                            Fantasy, Adventure, Family
4                                       Horror, Fantasy
...                                                 ...
2031                                             Horror
2032              Adventure, Family, Fantasy, Animation
2033              Family, Animation, Adventure, Fantasy
2034                          Horror, Mystery, Thriller
2035  Action, Adventure, Comedy, Science Fiction, Fa...

                                               overview  \
0     Balthazar Blake is a master sorcerer in modern...
1     The rich Gloria, resident for years in the Uni...
2     One day at work, unsuccessful puppeteer Craig ...
3     Oscar Diggs, a small-time circus illusionist a...
4     12 year old Tinja is desperate to please her m...
...                                                 ...
2031  Desperate for a role as a demonologist, strugg...
2032  On another planet in the distant past, a Gelfl...
2033  Ash Ketchum wakes up late one morning after ha...
2034  A social worker dealing with the disappearance...
2035  While hanging out after school, Charlie and hi...

                                                   crew  \
0     Nicolas Cage, Balthazar Blake, Jay Baruchel, D...
1     Marina Hedman, Gloria, Antonella Antinori, Ant...
2     John Cusack, Craig Schwartz, John Malkovich, J...
3     James Franco, Oz, Mila Kunis, Theodora / Wicke...
4     Siiri Solalinna, Tinja, Sophia Heikkilä, Mothe...
...                                                 ...
2031  Radha Mitchell, Eliza, Timothy Granaderos, Cla...
2032  Jim Henson, Jen / High Priest, Ritual Master, ...
2033  Rica Matsumoto, Satoshi (voice), Ikue Otani, P...
2034  Linda Cardellini, Anna Tate-Garcia, Raymond Cr...
2035  Owen Wilson, Jack, Michael Peña, Argon, Walker...

                     orig_title     status  orig_lang     budget_x  \
0     The Sorcerer's Apprentice   Released    English  160000000.0
1      Con la zia non è peccato   Released    Italian  150600000.0
2          Being John Malkovich   Released    English   13000000.0
3     Oz the Great and Powerful   Released    English  200000000.0
4                  Pahanhautoja   Released    Finnish    3896000.0
...                         ...        ...        ...          ...
2031           Devil's Workshop   Released    English  146740000.0
2032           The Dark Crystal   Released    English   15000000.0
2033      劇場版 ポケットモンスター キミにきめた！   Released   Japanese   75397939.2
2034    The Curse of La Llorona   Released    English    9000000.0
2035        Secret Headquarters   Released    English  143000000.0

          revenue country
0     217986320.0      AU
1     414413080.2      IT
2      32382381.0      AU
3     490359051.0      AU
4        490000.0      AU
...           ...     ...
2031  301123555.2      US
2032   40577001.0      AU
2033   37552144.0      AU
2034  123133739.0      AU
2035  420598835.4      US

[2036 rows x 12 columns]>

In [33]:
df['year'] = df['date_x'].apply(lambda x: str(x).split("/")[2].split()[0])

In [34]:
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country,year
0,The Sorcerer's Apprentice,09/09/2010,61.0,"Fantasy, Adventure, Action",Balthazar Blake is a master sorcerer in modern...,"Nicolas Cage, Balthazar Blake, Jay Baruchel, D...",The Sorcerer's Apprentice,Released,English,160000000.0,217986320.0,AU,2010
1,With Aunt It's Not a Sin,12/23/1980,61.0,Comedy,"The rich Gloria, resident for years in the Uni...","Marina Hedman, Gloria, Antonella Antinori, Ant...",Con la zia non è peccato,Released,Italian,150600000.0,414413080.2,IT,1980
2,Being John Malkovich,12/03/1999,74.0,"Comedy, Drama, Fantasy","One day at work, unsuccessful puppeteer Craig ...","John Cusack, Craig Schwartz, John Malkovich, J...",Being John Malkovich,Released,English,13000000.0,32382381.0,AU,1999
3,Oz the Great and Powerful,03/07/2013,59.0,"Fantasy, Adventure, Family","Oscar Diggs, a small-time circus illusionist a...","James Franco, Oz, Mila Kunis, Theodora / Wicke...",Oz the Great and Powerful,Released,English,200000000.0,490359051.0,AU,2013
4,Hatching,05/26/2022,63.0,"Horror, Fantasy",12 year old Tinja is desperate to please her m...,"Siiri Solalinna, Tinja, Sophia Heikkilä, Mothe...",Pahanhautoja,Released,Finnish,3896000.0,490000.0,AU,2022

In [35]:
df.dtypes

names          object
date_x         object
score         float64
genre          object
overview       object
crew           object
orig_title     object
status         object
orig_lang      object
budget_x      float64
revenue       float64
country        object
year           object
dtype: object

In [36]:
df.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country', 'year'],
      dtype='object')

In [37]:
df_1 = df[['names', 'overview', 'score', 'genre',  'orig_lang', 'country', 'year']]

In [38]:
df_1.head()

,names,overview,score,genre,orig_lang,country,year
0,The Sorcerer's Apprentice,Balthazar Blake is a master sorcerer in modern...,61.0,"Fantasy, Adventure, Action",English,AU,2010
1,With Aunt It's Not a Sin,"The rich Gloria, resident for years in the Uni...",61.0,Comedy,Italian,IT,1980
2,Being John Malkovich,"One day at work, unsuccessful puppeteer Craig ...",74.0,"Comedy, Drama, Fantasy",English,AU,1999
3,Oz the Great and Powerful,"Oscar Diggs, a small-time circus illusionist a...",59.0,"Fantasy, Adventure, Family",English,AU,2013
4,Hatching,12 year old Tinja is desperate to please her m...,63.0,"Horror, Fantasy",Finnish,AU,2022

In [39]:
df_1.isna().sum()

names         0
overview      0
score         0
genre        12
orig_lang     0
country       0
year          0
dtype: int64

In [40]:
df_1.dropna(inplace=True)

/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/871821986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.dropna(inplace=True)

In [41]:
df_1.head()

,names,overview,score,genre,orig_lang,country,year
0,The Sorcerer's Apprentice,Balthazar Blake is a master sorcerer in modern...,61.0,"Fantasy, Adventure, Action",English,AU,2010
1,With Aunt It's Not a Sin,"The rich Gloria, resident for years in the Uni...",61.0,Comedy,Italian,IT,1980
2,Being John Malkovich,"One day at work, unsuccessful puppeteer Craig ...",74.0,"Comedy, Drama, Fantasy",English,AU,1999
3,Oz the Great and Powerful,"Oscar Diggs, a small-time circus illusionist a...",59.0,"Fantasy, Adventure, Family",English,AU,2013
4,Hatching,12 year old Tinja is desperate to please her m...,63.0,"Horror, Fantasy",Finnish,AU,2022

In [42]:
unique_genres = {genre.strip().replace(" ", "_") for movie in df_1['genre'] for genre in movie.split(',')}

In [43]:
for genre in unique_genres:
    df_1[genre] = df_1['genre'].str.contains(genre).astype(int)

/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)
/var/folders/_3/2fm0mg0x5qdgpsw123gqb54r0000gp/T/ipykernel_96127/3840093214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[genre] = df_1['genre'].str.contains(genre).astype(int)

In [44]:
df_1.columns

Index(['names', 'overview', 'score', 'genre', 'orig_lang', 'country', 'year',
       'Horror', 'Romance', 'Western', 'Adventure', 'Thriller', 'Fantasy',
       'Comedy', 'Crime', 'Mystery', 'War', 'Action', 'History', 'TV_Movie',
       'Drama', 'Music', 'Documentary', 'Animation', 'Science_Fiction',
       'Family'],
      dtype='object')

In [45]:
df_1.head()

,names,overview,score,genre,orig_lang,country,year,Horror,Romance,Western,...,War,Action,History,TV_Movie,Drama,Music,Documentary,Animation,Science_Fiction,Family
0,The Sorcerer's Apprentice,Balthazar Blake is a master sorcerer in modern...,61.0,"Fantasy, Adventure, Action",English,AU,2010,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,With Aunt It's Not a Sin,"The rich Gloria, resident for years in the Uni...",61.0,Comedy,Italian,IT,1980,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Being John Malkovich,"One day at work, unsuccessful puppeteer Craig ...",74.0,"Comedy, Drama, Fantasy",English,AU,1999,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,Oz the Great and Powerful,"Oscar Diggs, a small-time circus illusionist a...",59.0,"Fantasy, Adventure, Family",English,AU,2013,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Hatching,12 year old Tinja is desperate to please her m...,63.0,"Horror, Fantasy",Finnish,AU,2022,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_1.to_csv("updated_imdb.csv", index=False)